# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# some scrach on R scripts
/sim20032009/*.R
/sim20032009/calc/points/*.R
/sim20032009/figs/*.R
/sim20032009/figs/*.R~
/sim20032009/figs/*#*


#  data files
/sim19792012/data/REF/*.nc
/sim19792012/data/TRANS/*.nc

/sim20032009/data/*
/sim20032009/data/C-AER/*.nc
/sim20032009/data/NO-AER/*.nc
/sim20032009/calc/*.nc
/sim20032009/calc/*.grd
/sim20032009/calc/*.gri
/sim20032009/calc/proj12abr/*grd
/sim20032009/calc/proj12abr/*gri
/sim20032009/calc/malproy/*
/sim20031009/calc/regions/*.Rdata
/sim20032009/calc/points/*.Rdata
/sim20032009/calc/points/one/*.Rdata
/sim20032009/calc/points/fixed/*.Rdata
/sim20032009/calc/points/two/*.Rdata
/sim20032009/calc/points/rsds/*.Rdata
/sim20032009/calc/cv/*grd
/sim20032009/calc/cv/*gri
/sim20032009/figs/*.grd
/sim20032009/figs/*.gri
/sim20032009/figs/*.Rdata
/sim20032009/figs/*.nc

# figures generated

/sim20032009/figs/*.pdf